/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/input/gpio-keys.h>
#include <dt-bindings/display/rockchip_vop.h>
#include "dt-bindings/usb/pd.h"
#include "rk3588.dtsi"
#include "rk3588-rk806-dual.dtsi"
#include "rk3588-linux.dtsi"

/ {
	model = "Lenovo RK3588 Laptop";
	compatible = "rockchip,rk3588-lenovo", "rockchip,rk3588";

	aliases {
		mmc0 = &sdhci;
		mmc1 = &sdmmc;
		mmc2 = &sdio;
	};

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xfeb50000 console=ttyFIQ0 root=PARTUUID=614e0000-0000 rw rootwait wifibt=rtl8822ce:usb";
	};

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		vol-up-key {
			label = "volume up";
			linux,code = <KEY_VOLUMEUP>;
			press-threshold-microvolt = <17000>;
		};

		vol-down-key {
			label = "volume down";
			linux,code = <KEY_VOLUMEDOWN>;
			press-threshold-microvolt = <417000>;
		};

		menu-key {
			label = "menu";
			linux,code = <KEY_MENU>;
			press-threshold-microvolt = <890000>;
		};

		back-key {
			label = "back";
			linux,code = <KEY_BACK>;
			press-threshold-microvolt = <1235000>;
		};
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		brightness-levels = <
			  0  20  20  21  21  22  22  23
			 23  24  24  25  25  26  26  27
			 27  28  28  29  29  30  30  31
			 31  32  32  33  33  34  34  35
			 35  36  36  37  37  38  38  39
			 40  41  42  43  44  45  46  47
			 48  49  50  51  52  53  54  55
			 56  57  58  59  60  61  62  63
			 64  65  66  67  68  69  70  71
			 72  73  74  75  76  77  78  79
			 80  81  82  83  84  85  86  87
			 88  89  90  91  92  93  94  95
			 96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <200>;
		pwms = <&pwm15 0 25000 0>;
		enable-gpios = <&gpio3 RK_PA4 GPIO_ACTIVE_HIGH>;
		power-supply = <&vcc3v3_lcd>;
	};

	hdmi1_sound: hdmi1-sound {
		status = "disabled";
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <128>;
		simple-audio-card,name = "rockchip-hdmi1";
		simple-audio-card,cpu {
			sound-dai = <&i2s6_8ch>;
		};
		simple-audio-card,codec {
			sound-dai = <&hdmi1>;
		};
	};

	fan: pwm-fan {
		compatible = "pwm-fan";
		cooling-min-state = <0>;
		cooling-max-state = <3>;
		#cooling-cells = <2>;
		pwms = <&pwm15 0 50000 0>;
		cooling-levels = <0 50 100 150 200 255>;
		rockchip,temp-trips = <
			50000	1
			55000	2
			60000	3
			65000	4
			70000	5
		>;
	};

	gpio_keys: gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&mh248_irq_gpio>;

		hall_sensor: hall-sensor {
			debounce-interval = <20>;
			gpios = <&gpio1 RK_PB4 GPIO_ACTIVE_LOW>;
			label = "sw_lid";
			linux,code = <SW_LID>;
			linux,input-type = <EV_SW>;
			wakeup-source;
			wakeup-event-action = <EV_ACT_DEASSERTED>;
		};
	};

	panel_edp0: panel-edp0 {
		compatible = "simple-panel";
		backlight = <&backlight>;
		enable-gpios = <&gpio3 RK_PA5 GPIO_ACTIVE_HIGH>;
		power-supply = <&vcc3v3_lcd>;

		prepare-delay-ms = <210>;
		enable-delay-ms = <50>;
		unprepare-delay-ms = <160>;
		disable-delay-ms = <120>;
		width-mm = <309>;
		height-mm = <174>;

		panel-timing {
			clock-frequency = <160300000>;
			hactive = <2240>;
			vactive = <1400>;
			hfront-porch = <48>;
			hsync-len = <32>;
			hback-porch = <200>;
			vfront-porch = <3>;
			vsync-len = <5>;
			vback-porch = <60>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <0>;
			pixelclk-active = <0>;
		};

		port {
			panel_in_edp0: endpoint {
				remote-endpoint = <&edp0_out>;
			};
		};
	};

	vcc3v3_lcd: vcc3v3-lcd {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_lcd";
		vin-supply = <&vcc_3v3_s0>;
	};

	es8326_sound: es8326-sound {
		status = "okay";
		compatible = "rockchip,multicodecs-card";
		rockchip,card-name = "rockchip-es8326";
		rockchip,format = "i2s";
		rockchip,mclk-fs = <256>;
		rockchip,cpu = <&i2s0_8ch>;
		rockchip,codec = <&es8326>;
		poll-interval = <100>;
		io-channels = <&saradc 3>;
		io-channel-names = "adc-detect";
		keyup-threshold-microvolt = <1800000>;
		pinctrl-0 = <&hp_det>;
		pinctrl-names = "default";
		hp-det-gpio = <&gpio1 RK_PB5 GPIO_ACTIVE_LOW>;
		play-pause-key {
			label = "playpause";
			linux,code = <164>;
			press-threshold-microvolt = <2000>;
		};
	};

	rk_headset: rk-headset {
		compatible = "rockchip_headset";
		headset_gpio = <&gpio1 RK_PB5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det>;
		io-channels = <&saradc 3>;
	};

	dp0_sound: dp0-sound {
		status = "disabled";
		compatible = "rockchip,hdmi";
		rockchip,card-name= "rockchip-dp0";
		rockchip,mclk-fs = <512>;
		rockchip,cpu = <&spdif_tx2>;
		rockchip,codec = <&dp0 1>;
		rockchip,jack-det;
	};

	dp1_sound: dp1-sound {
		status = "disabled";
		compatible = "rockchip,hdmi";
		rockchip,card-name= "rockchip-dp1";
		rockchip,mclk-fs = <512>;
		rockchip,cpu = <&spdif_tx5>;
		rockchip,codec = <&dp1 1>;
		rockchip,jack-det;
	};

	leds {
		compatible = "gpio-leds";
		work_led: work {
			gpios = <&gpio3 0x09 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};

	test-power {
		status = "okay";
	};

	vcc12v_dcin: vcc12v-dcin {
		compatible = "regulator-fixed";
		regulator-name = "vcc12v_dcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dcin>;
	};

	vcc3v3_pcie30: vcc3v3-pcie30 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie30";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <5000>;
		vin-supply = <&vcc12v_dcin>;
	};

	vcc5v0_usbdcin: vcc5v0-usbdcin {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usbdcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dcin>;
	};

	vcc5v0_usb: vcc5v0-usb {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_usbdcin>;
	};

	pcie20_avdd0v85: pcie20-avdd0v85 {
		compatible = "regulator-fixed";
		regulator-name = "pcie20_avdd0v85";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <850000>;
		regulator-max-microvolt = <850000>;
		vin-supply = <&avdd_0v85_s0>;
	};

	pcie20_avdd1v8: pcie20-avdd1v8 {
		compatible = "regulator-fixed";
		regulator-name = "pcie20_avdd1v8";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&avcc_1v8_s0>;
	};

	pcie30_avdd0v75: pcie30-avdd0v75 {
		compatible = "regulator-fixed";
		regulator-name = "pcie30_avdd0v75";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <750000>;
		regulator-max-microvolt = <750000>;
		vin-supply = <&avdd_0v75_s0>;
	};

	pcie30_avdd1v8: pcie30-avdd1v8 {
		compatible = "regulator-fixed";
		regulator-name = "pcie30_avdd1v8";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&avcc_1v8_s0>;
	};

	vcc5v0_host: vcc5v0-host {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_usb>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
	};

};

&av1d {
	status = "okay";
};

&av1d_mmu {
	status = "okay";
};

&cpu_l0 {
	cpu-supply = <&vdd_cpu_lit_s0>;
	mem-supply = <&vdd_cpu_lit_mem_s0>;
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_big0_s0>;
	mem-supply = <&vdd_cpu_big0_mem_s0>;
};

&cpu_b2 {
	cpu-supply = <&vdd_cpu_big1_s0>;
	mem-supply = <&vdd_cpu_big1_mem_s0>;
};

&dmc {
	auto-freq-en = <1>;
	status = "okay";
};

&sdmmc {
	max-frequency = <150000000>;
	status = "okay";
	no-sdio;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_3v3_sd_s0>;
	vqmmc-supply = <&vccio_sd_s0>;
};

&sdhci {
	bus-width = <8>;
	no-sdio;
	no-sd;
	non-removable;
	max-frequency = <200000000>;
	status = "okay";
};

&gpu {
	clock-names = "gpu", "bus";
	interrupt-names = "gpu", "mmu", "job";
	mali-supply = <&vdd_gpu_s0>;
	mem-supply = <&vdd_gpu_mem_s0>;
	status = "okay";
};

&iep {
	status = "okay";
};

&iep_mmu {
	status = "okay";
};

&jpegd {
	status = "okay";
};

&jpegd_mmu {
	status = "okay";
};

&jpege_ccu {
	status = "okay";
};

&jpege0 {
	status = "okay";
};

&jpege0_mmu {
	status = "okay";
};

&jpege1 {
	status = "okay";
};

&jpege1_mmu {
	status = "okay";
};

&jpege2 {
	status = "okay";
};

&jpege2_mmu {
	status = "okay";
};

&jpege3 {
	status = "okay";
};

&jpege3_mmu {
	status = "okay";
};

&mpp_srv {
	status = "okay";
};

&rga3_core0 {
	status = "okay";
};

&rga3_0_mmu {
	status = "okay";
};

&rga3_core1 {
	status = "okay";
};

&rga3_1_mmu {
	status = "okay";
};

&rga2 {
	status = "okay";
};

&rknpu {
	rknpu-supply = <&vdd_npu_s0>;
	mem-supply = <&vdd_npu_mem_s0>;
	status = "okay";
};

&rknpu_mmu {
	status = "okay";
};

&rkvdec_ccu {
	status = "okay";
};

&rkvdec0 {
	status = "okay";
};

&rkvdec0_mmu {
	status = "okay";
};

&rkvdec1 {
	status = "okay";
};

&rkvdec1_mmu {
	status = "okay";
};

&rkvenc_ccu {
	status = "okay";
};

&rkvenc0 {
	status = "okay";
};

&rkvenc0_mmu {
	status = "okay";
};

&rkvenc1 {
	status = "okay";
};

&rkvenc1_mmu {
	status = "okay";
};

&rockchip_suspend {
	status = "okay";
	rockchip,sleep-debug-en = <1>;
};

&saradc {
	status = "okay";
	vref-supply = <&vcc_1v8_s0>;
};

&tsadc {
	status = "okay";
};

&u2phy0 {
	status = "okay";
};

&u2phy1 {
	status = "okay";
};

&u2phy2 {
	status = "okay";
};

&u2phy3 {
	status = "okay";
};

&u2phy0_otg {
	dr_mode = "otg";
	status = "okay";
};

&u2phy1_otg {
	status = "okay";
};

&u2phy2_host {
	status = "okay";
};

&u2phy3_host {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

&usbdp_phy0 {
	orientation-switch;
	svid = <0xff01>;
	status = "okay";
	port {
		#address-cells = <1>;
		#size-cells = <0>;
		usbdp_phy0_orientation_switch: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc0_orien_sw>;
		};

		usbdp_phy0_dp_altmode_mux: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&usbc0_dp_altmode_mux>;
		};
	};
};

&usbdp_phy0_dp {
	status = "okay";
};

&usbdp_phy0_u3 {
	status = "okay";
};

&usbdrd3_0 {
	status = "okay";
};

&usbdrd_dwc3_0 {
	dr_mode = "otg";
	status = "okay";
	usb-role-switch;
	port {
		#address-cells = <1>;
		#size-cells = <0>;
		dwc3_0_role_switch: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc0_role_sw>;
		};
	};
};

&usbhost3_0 {
	status = "okay";
};

&usbhost_dwc3_0 {
	status = "okay";
};

&usbdp_phy1 {
	orientation-switch;
	svid = <0xff01>;
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;
		usbdp_phy1_orientation_switch: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc1_orien_sw>;
		};

		usbdp_phy1_dp_altmode_mux: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&usbc1_dp_altmode_mux>;
		};

	};
};

&usbdp_phy1_dp {
	status = "okay";
};

&usbdp_phy1_u3 {
	status = "okay";
};

&usbdrd3_1 {
	status = "okay";
};

&usbdrd_dwc3_1 {
	dr_mode = "otg";
	status = "disabled";
	usb-role-switch;
	port {
		#address-cells = <1>;
		#size-cells = <0>;
		dwc3_1_role_switch: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc1_role_sw>;
		};
	};
};

&csi2_dphy0_hw {
	status = "disabled";
};

&csi2_dphy1_hw {
	status = "disabled";
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&vepu {
	status = "okay";
};

&vop {
	status = "okay";
	disable-win-move;
};

&vop_mmu {
	status = "okay";
};

/*
#define	ROCKCHIP_VOP2_CLUSTER0	0
#define	ROCKCHIP_VOP2_CLUSTER1	1
#define	ROCKCHIP_VOP2_ESMART0	2
#define	ROCKCHIP_VOP2_ESMART1	3
#define	ROCKCHIP_VOP2_SMART0	4
#define	ROCKCHIP_VOP2_SMART1	5
#define	ROCKCHIP_VOP2_CLUSTER2	6
#define	ROCKCHIP_VOP2_CLUSTER3	7
#define	ROCKCHIP_VOP2_ESMART2	8
#define	ROCKCHIP_VOP2_ESMART3	9
 */

/* vp0 & vp1 splice for 8K output */
&vp0 {
	cursor-win-id = <ROCKCHIP_VOP2_ESMART1>;
	//rockchip,plane-mask = <0x0000000d>;
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER0 | 1 << ROCKCHIP_VOP2_ESMART1)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_CLUSTER0>;
};

&vp1 {
	cursor-win-id = <ROCKCHIP_VOP2_ESMART2>;
	//rockchip,plane-mask = <0x00000142>;
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER1 | 1 << ROCKCHIP_VOP2_ESMART2)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_CLUSTER1>;
};

&vp2 {
	cursor-win-id = <ROCKCHIP_VOP2_ESMART3>;
	// rockchip,plane-mask = <0x00000280>;
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER3 | 1 << ROCKCHIP_VOP2_ESMART3)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_CLUSTER3>;
};
&vdd_gpu_s0 {
	regulator-always-on;
};

&vdd_log_s0 {
	regulator-min-microvolt = <750000>;
};

&vdd_gpu_mem_s0 {
	regulator-always-on;
};

&vdd_0v75_hdmi_edp_s0 {
	regulator-min-microvolt = <750000>;
	regulator-max-microvolt = <750000>;
};

&vcc_1v8_s0 {
	/delete-property/ regulator-state-mem;
	regulator-state-mem {
		regulator-on-in-suspend;
		regulator-suspend-microvolt = <1800000>;
	};
};

&vcc_3v3_s0 {
	/delete-property/ regulator-state-mem;
	regulator-state-mem {
		regulator-on-in-suspend;
		regulator-suspend-microvolt = <3300000>;
	};
};

&vdd_ddr_s0 {
	regulator-min-microvolt = <850000>;
	regulator-max-microvolt = <850000>;
};

&backlight {
	pwms = <&pwm6 0 100000 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&bl_en>;
	status = "okay";
};

&hdmi0 {
	status = "disabled";
};

&hdmi1 {
	status = "disabled";
};

&dp0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&dp0_hpd>;
	hpd-gpios = <&gpio1 RK_PA0 GPIO_ACTIVE_HIGH>;
};

&dp0_in_vp0 {
	status = "okay";
};

&dp0_sound{
	status = "okay";
};

&route_dp0 {
	status = "okay";
	connect = <&vp2_out_dp0>;
};

&dp1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&dp1_hpd>;
	hpd-gpios = <&gpio1 RK_PA1 GPIO_ACTIVE_HIGH>;
};

&dp1_in_vp2 {
	status = "okay";
};

&dp1_sound{
	status = "okay";
};

&route_dp1 {
	status = "okay";
	connect = <&vp2_out_dp1>;
};

&edp0 {
	force-hpd;
	status = "okay";
	ports {
		port@1 {
			reg = <1>;
			edp0_out: endpoint {
				remote-endpoint = <&panel_in_edp0>;
			};
		};
	};
};

&edp0_in_vp1 {
	status = "okay";
};

&route_edp0 {
	status = "okay";
	connect = <&vp1_out_edp0>;
};

&edp1 {
	status = "disabled";
};

&mipidcphy0 {
	status = "disabled";
};

&mipidcphy1 {
	status = "disabled";
};

&u2phy2 {
	status = "okay";
	host-port {
		phy-supply = <&vcc5v0_host>;
	};
};

&u2phy3 {
	status = "okay";
	host-port {
		phy-supply = <&vcc5v0_host>;
	};
};

&hdptxphy0 {
	status = "okay";
	lane-polarity-invert = <0 0 0 0>;
};


&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1m0_xfer>;
	status = "okay";

	usbc0: anx7411@2c {
		status = "okay";
		compatible = "analogix,anx7411";
		reg = <0x2c>;
		#address-cells = <1>;
		#size-cells = <0>;
		interrupt-parent = <&gpio4>;
		interrupts = <RK_PA0 IRQ_TYPE_LEVEL_LOW>;
		extcon = <&u2phy0>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbc0_int>;

		port {
			#address-cells = <1>;
			#size-cells = <0>;

			usbc0_role_sw: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&dwc3_0_role_switch>;
			};
		};

		usb_con: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";
			try-power-role = "sink";

			altmodes {
				#address-cells = <1>;
				#size-cells = <0>;

				altmode@0 {
					reg = <0>;
					svid = <0xff01>;
					vdo = <0xffffffff>;
				};
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					usbc0_orien_sw: endpoint {
						remote-endpoint = <&usbdp_phy0_orientation_switch>;
					};
				};

				port@1 {
					reg = <1>;
					usbc0_dp_altmode_mux: endpoint {
						remote-endpoint = <&usbdp_phy0_dp_altmode_mux>;
					};
				};
			};
		};
	};
};

&i2c2 {
	status = "okay";

	hym8563: hym8563@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "hym8563";
		pinctrl-names = "default";
		pinctrl-0 = <&hym8563_int>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PD4 IRQ_TYPE_LEVEL_LOW>;
	};

	sc8886: sc8886@6b {
		compatible = "southchip,sc8886";
		reg = <0x6b>;
		ti,usb-charger-detection = <&usbc0 &usbc1>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PD5 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&charger_ok>;
		extcon = <&u2phy0 &u2phy3>;
		ti,charge-current = <2500000>;
		ti,max-input-voltage = <20000000>;
		ti,max-input-current = <6000000>;
		ti,max-charge-voltage = <16800000>;
		ti,input-current = <500000>;
		ti,input-current-sdp = <500000>;
		ti,input-current-dcp = <2000000>;
		ti,input-current-cdp = <2000000>;
		ti,minimum-sys-voltage = <7400000>;
		ti,otg-voltage = <5000000>;
		ti,otg-current = <500000>;
		pd-charge-only = <0>;
		status = "okay";
	};

	sbs: sbs@b {
		status = "okay";
		compatible = "sbs,sbs-battery";
		reg = <0xb>;
		pinctrl-names = "default";
		pinctrl-0 = <&sbs_detect>;
		sbs,poll-retry-count = <100>;
		sbs,i2c-retry-count = <100>;
	};
};

&i2c3 {
	status = "okay";

	es8326: es8326@18 {
		status = "okay";
		compatible = "everest,es8326";
		reg = <0x18>;
		#sound-dai-cells = <0>;
		clocks = <&cru I2S0_8CH_MCLKOUT>;
		clock-names = "mclk";
		assigned-clocks = <&cru I2S0_8CH_MCLKOUT>;
		assigned-clock-rates = <12288000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2s0_mclk &hp_det &spk_ctl_gpio>;
		interrupt-parent = <&gpio1>;
		interrupts = <RK_PD5 IRQ_TYPE_EDGE_RISING>;
		mclk-rate = <12288000>;
		mic1-src = [22];
		mic2-src = [44];
		jack-pol = [0e];
		spk-con-gpio = <&gpio1 RK_PD3 GPIO_ACTIVE_LOW>;
	};
};

&i2c4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m3_xfer>;
	clock-frequency = <400000>;

	touchpad: touchpad@2c {
		compatible = "hid-over-i2c";
		reg = <0x2c>;
		hid-descr-addr = <0x20>;
		interrupt-parent = <&gpio1>;
		interrupts = <RK_PB2 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&touchpad_irq_gpio >;
		status = "okay";
	};
};

&i2c6 {
	status = "okay";
	clock-frequency = <400000>;

	usbc1: anx7411@2c {
		status = "okay";
		compatible = "analogix,anx7411";
		reg = <0x2c>;
		#address-cells = <1>;
		#size-cells = <0>;
		interrupt-parent = <&gpio4>;
		interrupts = <RK_PB1 IRQ_TYPE_LEVEL_LOW>;
		extcon = <&u2phy3>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbc1_int>;

		port {
			#address-cells = <1>;
			#size-cells = <0>;

			usbc1_role_sw: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&dwc3_1_role_switch>;
			};
		};
		usb_con1: connector@0 {
			compatible = "usb-c-connector";
			reg = <0>;
			power-role = "dual";
			data-role = "dual";
			try-power-role = "sink";

			altmodes {
				#address-cells = <1>;
				#size-cells = <0>;

				altmode@0 {
					reg = <0>;
					svid = <0xff01>;
					vdo = <0xffffffff>;
				};
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					usbc1_orien_sw: endpoint {
						remote-endpoint = <&usbdp_phy1_orientation_switch>;
					};
				};

				port@1 {
					reg = <1>;
					usbc1_dp_altmode_mux: endpoint {
						remote-endpoint = <&usbdp_phy1_dp_altmode_mux>;
					};
				};
			};
		};
	};
};

&i2c7 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c7m0_xfer>;
	clock-frequency = <400000>;

	touchpanel: touchpanel@10 {
		compatible = "hid-over-i2c";
		reg = <0x10>;
		hid-descr-addr = <0x10>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PD3 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&touchpanel_pwr_en>;
		reset-gpios = <&gpio0 RK_PD2 GPIO_ACTIVE_LOW>;
		status = "okay";
	};
};

&i2s0_8ch {
	status = "okay";
};

//spdif_tx2: spdif-tx@fddb0000
&spdif_tx2 {
	status = "okay";
};

//spdif_tx5: spdif-tx@fddb8000
&spdif_tx5 {
	status = "okay";
};

&pcie30phy {
	rockchip,pcie30-phymode = <PHY_MODE_PCIE_AGGREGATION>;
	status = "okay";
};

&combphy0_ps {
	status = "okay";
};

&combphy1_ps {
    status = "okay";
};

&combphy2_psu {
	status = "okay";
};

//wifi
&pcie2x1l0 {
	status = "okay";
	reset-gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
};

//ssd
&pcie3x4 {
	reset-gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie30>;
	status = "okay";
};

&pwm6 {
	pinctrl-names = "active";
	pinctrl-0 = <&pwm6m1_pins>;
	status = "okay";
};

&pwm12 {
	pinctrl-names = "active";
	pinctrl-0 = <&pwm12m1_pins>;
	status = "okay";
};

&pwm14 {
	pinctrl-names = "active";
	pinctrl-0 = <&pwm14m0_pins>;
	status = "okay";
};

&pwm15 {
	pinctrl-names = "active";
	pinctrl-0 = <&pwm15m3_pins>;
	status = "okay";
};

&display_subsystem {
	memory-region = <&drm_logo>;
	memory-region-names = "drm-logo";
};

&rng {
	status = "okay";
};

&pinctrl {
	hym8563 {
		hym8563_int: hym8563-int {
			rockchip,pins = <0 RK_PD4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	sc8886 {
		charger_ok: charger-ok {
			rockchip,pins = <0 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>;
			phandle = <0x00000125>;
		};
	};

	sbs {
		sbs_detect: sbs-detect {
			rockchip,pins = <1 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	spk_ctl {
		spk_ctl_gpio: spk-ctl-gpio {
			rockchip,pins = <1 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	touchpad {
		touchpad_irq_gpio: touchpad_irq_gpio {
			rockchip,pins = <1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	headphone {
		hp_det: hp-det {
			rockchip,pins = <1 RK_PB5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	usb {
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = 
				<4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>,
				<3 RK_PB1 RK_FUNC_GPIO &pcfg_output_high>;
		};
	};

	usb-typec {
		usbc0_int: usbc0-int {
			rockchip,pins = <4 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		usbc1_int: usbc1-int {
			rockchip,pins = <4 RK_PB7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		typec5v_pwren: typec5v-pwren {
			rockchip,pins = <3 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wifi {
		pcie_rst: pcie-rst {
			rockchip,pins = <4 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		pcie_clkreq: pcie-clkreq {
			rockchip,pins = <4 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		pcie_wake: pcie-wake {
			rockchip,pins = <4 RK_PA1 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		wifi_pwron: wifi-pwron {
			rockchip,pins = <3 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	lcd {
		bl_en: bl-en {
			rockchip,pins = <3 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sensor {
		mh248_irq_gpio: mh248-irq-gpio {
			rockchip,pins = <1 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	touch {
		touchpanel_pwr_en: touchpanel_pwr_en {
			rockchip,pins = <3 RK_PD4 RK_FUNC_GPIO &pcfg_output_high>;
		};
	};

	dp {
		dp0_hpd: dp0-hpd {
			rockchip,pins = <1 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		dp1_hpd: dp1-hpd {
			rockchip,pins = <1 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};